<div class="login">
  <mu-container>
    <mu-card style="width: 100%; max-width: 375px; margin: 0 auto;">
      <mu-card-header :title="article1.date.curr">
      </mu-card-header>
      <mu-card-media :title="article1.title" :sub-title="article1.author">
        <img src="https://muse-ui.org/static/img/sun.a646a52.jpg">
      </mu-card-media>
      <mu-card-title ></mu-card-title>
      <mu-card-text v-html="article1.content">
      </mu-card-text>
    </mu-card>
  </mu-container>
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<div v-html="article2"></div>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<br>-->
  <!--<div v-html="article3"></div>-->
</div>
